<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/flag.css" />
    <title>BoolFlix</title>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" v-model="userInput" />
        <button @click="doSearch">Cerca</button>
      </div>

      <ul>
        <li v-for="movie in fullList">
          <img
            v-if="movie.poster_path"
            :src="movie.poster_path"
            alt="Cover cover"
          />
          <p>Titolo: {{movie.title}}</p>
          <p>Titolo originale: {{movie.original_title}}</p>
          <p>
            Lingua originale:
            <span :class="`flag-icon flag-icon-${getFlags()}`"></span>
          </p>
          <p>Media voti:</p>
          <div>
            <span v-for="value in 5">
              <i v-if="value <= movie.vote_average" class="fas fa-star"></i>
              <i v-else class="far fa-star"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <script src="scripts/app.js"></script>
  </body>
</html>
